@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

$color1: #077949;
$color2: #ff831e;
$color3: #fff;
$color4: #096b2a;
$color5: #034611;
$color6: black;
$color6Alpha: #115a21;
$fontRoboto: 'Roboto Mono', monospace;
$fontOswald: 'Oswald', sans-serif;