@import "_globales";
@import "_animations";

body {
  margin: 0;
  position: relative;
  font-family: $fontOswald;
  background-image: url("../../public/images/triangles_pattern.webp");
  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .button {
    padding: 5px;
    margin: 5px;
    background-color: $color2;
    border-radius: 50px;
    color: inherit;
    border: none;
    cursor: pointer;
    outline: inherit;
    a {
      text-decoration: none;
      color: $color6;
    }
  }
  .icon2 {
    color: $color2;
    font-size: 20px;
  }
  .sablier {
    font-size: 40px;
  }
  .loader {
    color: $color6;
    .spinner {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    animation: spinner 3s infinite linear;
    // animation-direction: alternate;
    }
    b {
      color: $color6;
    }
  }
  header {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      margin: 0 auto;
      text-align: center;
    }
  }
  footer {
    position: fixed;
    bottom: -1px;
    width: 100%;
    height: 100px;
    background-color: $color5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    a {
      // margin: 5px;
      text-decoration: none;
      color: $color1;
    }
    nav {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      // gap: 20px;
      
      .navLink {
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 10px;
        color: $color3;
        text-decoration: none;
        text-align: center;
      }
      .icon {
        font-size: 40px;
      }
    }
  }

  main {
    margin-bottom: 20px;
    padding-bottom: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    gap: 20px;

    h3 {
      width: 100%;
      text-align: center;
      margin: 0;
    }
    h2 {
      width: 100%;
      text-align: center;
    }
    b {
      color: $color1;
    }
    .newGameBackground {
      
      width: 100%;
      height: 110%;
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      gap: 0;
      align-items: center;
      background-color: #3b3a3ab0;
    }
    .newGame {
      width: 90%;
      position: absolute;
      top: 2%;
      gap: 0;
      color: $color3;

      .choice {
        width: 100%;
        padding: 2px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 1px solid $color5;
        border-radius: 5px;
        legend {
          text-align: center;
          font-weight: bold;
          color: $color5;

        }
        .points {
          width: 100%;
          display: flex;
          justify-content: space-between;
          gap: 20px;
          h5 {
            width: 33%;
            text-align: center;
            font-weight: normal;
          }
        }
      }
    }
    form {
      width: 80%;
      min-width: 300px;
      max-width: 600px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      background-color: $color1;
      border-radius: 10px;
      
      input {
        width: 100%;
        padding: 5px;
        border-radius: 50px;
        border:none;
      }
      .button {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color3;
        font-size: 25px;
      }
    }
    .globalRanking {
      tbody tr:first-child{
        background-color: #cfbb00;
      }
      tbody tr:nth-child(2){
        background-color: #686868;
      }
      tbody tr:nth-child(3){
        background-color: #563333;
      }
    }
    table {
      width: 95%;
      border-collapse: collapse;
      padding: 10px;
      border-radius: 10px;
      text-align: center;
      background-color: $color1;
      overflow: hidden;
      border-radius: 10px;
      td {
        color: $color3;
      }
      thead,
      tfoot {
        background-color: $color5;
        th {
          color: $color3;
          font-size: 20px;
          font-weight: normal;
          text-align: center;
        }
      }
      thead {
        tr:nth-child(even) {
          background-color: $color6Alpha;
        }
      }
      tbody {
        tr:nth-child(odd) {
          background-color: $color4;
        }
      }
      .loader{
        color: $color3;
        b {
          color: $color3;
        }
      }

    }
    ul {
      width: 80%;
      font-size: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}