@import "_globales";

body {
  font-family: $fontOswald;
  .button {
    
  }
  header {
    h1 {
      text-align: center;
    }
  }
  nav {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    table {
      border-collapse: collapse;
      padding: 10px;
      // border-radius: 10px;
      text-align: center;
      background-color: $color1;
      td {
        color: $color3;
      }
      thead {
        th {
          background-color: $color2;
        }
      }
      tbody {
        tr:nth-child(odd) {
          background-color: $color4;
        }
      }
      

    }
  }
}